[Desktop Entry]
Encoding=UTF-8
Name=Testkojn
Comment=Testkojn P2P Cryptocurrency
Comment[fr]=Testkojn, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Testkojn, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/testkojn-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/testkojn80.xpm
MimeType=x-scheme-handler/testkojn;
Categories=Office;
