#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_testkojn
#build/testkojnd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_testkojn)

DEB_INSTALL_EXAMPLES_testkojnd += debian/examples/*
DEB_INSTALL_MANPAGES_testkojnd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 testkojnd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f testkojn-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake testkojn-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_testkojn
	#src/test_testkojn

# Ensure wrapper is set executable
binary-post-install/testkojnd:
	chmod +x $(cdbs_curdestdir)usr/bin/testkojnd
binary-post-install/testkojn-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/testkojn-qt
